[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/muralibadagala
[access "refs/for/refs/*"]
	read = group user/muralibadagala
	push = group user/muralibadagala
	label-Code-Review = -2..+2 group user/muralibadagala
	label-Verified = -1..+1 group user/muralibadagala
	rebase = group user/muralibadagala
	removeReviewer = group user/muralibadagala
	submit = group user/muralibadagala
[access "refs/heads/*"]
	read = group user/muralibadagala
	create = group user/muralibadagala
	push = +force group user/muralibadagala
	pushMerge = group user/muralibadagala
[access "refs/tags/*"]
	push = group user/muralibadagala
	push = +force group user/muralibadagala
